
#template {
    width: 100%;
    margin: 10% auto;
    background:url(http://qsf.ec.quoracdn.net/-3-images.home.illo_1920.png-26-c2ec7e7800f647b8.png) no-repeat center center fixed;
}

#logo{
    width: 60%;
    float: left;
    margin-top:5%;
}

#data {
    width: 40%;
    float: left;
    margin-top: 5%;
}

#logo img {
    width: 100%;
   
   
}

#main {
    font-family: 'Cabin', sans-serif;
    text-align: center;
}

#main .title {
    font-size: 60px;
}

#main .subtitle {
    font-size: 30px;
}

#social {
    text-align: center;
    margin-top: 8%;
}

#social a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.5;
}

#social a:hover {
    opacity: 1;
}
